@import "tailwindcss";
*{
  box-sizing: border-box;
}

.big {
  font-family: "Big Shoulders", sans-serif;
 
  font-style: normal;
}
.mont{
  font-family: "Montserrat", sans-serif;
 
  font-style: normal;
}
.pop{
  font-family: "Poppins", sans-serif;

  font-style: normal;
}